@page "/"

<PageTitle>Game of Life</PageTitle>

<h1>Hello, world!, and devs</h1>

Thanks Jhon!

<img class="img-fluid" src="https://www.princeton.edu/sites/default/files/styles/scale_1440/public/images/2020/04/20090310_ConwayKochen_DJA_066-copy.jpg?itok=BbmXyoCQ" alt="Jhon Conway" />

